<div class="form">
<form>
   <mat-form-field>
 <input matInput #checkTitle>
</mat-form-field>
 <button mat-raised-button color="primary" type="submit" (click)="checkIfTitleExists(checkTitle.value)">Does it exist</button>
</form>
</div>
<div class="title-check">
   <!-- {{ message }} -->
</div>
<button mat-raised-button color="primary" (click)="openDialog()">Add Book</button>
<button mat-raised-button color="accent" (click)="openDialog()">Update Book</button>

<!--<app-create-component (addContentEvent)="addContentToList($event)" (updateContentEvent)="updateContentToList($event)"></app-create-component> -->



<app-content-card *ngFor="let item of content; last as isLast" [class.is-last]="isLast" [content]="item"
[class.highlight-me]="checkTitle.value === item.title" class="Article"></app-content-card>

<!--<app-content-card *ngFor="let item of content | articleType: 'Book'; last as isLast" [class.is-last]="isLast" [content]="item"
[class.highlight-me]="checkTitle.value === item.title" class="Book"></app-content-card> --> 


