


<app-create-content (newBookEvent)="addBookToList($event)"></app-create-content>

    <div class="title-check">
        {{ message }}
    </div>

    <form onsubmit="return false;">
        <input #checkTitle>
        <button type="submit" (click)="checkIfTitleExists(checkTitle.value)">Does it exist</button>
       </form>

    





<!--<app-content-card *ngFor="let item of contentArray; index as i; first as isFirst" [content]="item"
[class.is-first]="isFirst" class="content-{{i}}"></app-content-card> -->


<app-content-card *ngFor="let item of contentArray | articleType: 'Article'; last as isLast" [class.is-last]="isLast" [content]="item"
[class.highlight-me]="checkTitle.value === item.title" class="Article"></app-content-card>

<app-content-card *ngFor="let item of contentArray | articleType: 'Book'; last as isLast" [class.is-last]="isLast" [content]="item"
[class.highlight-me]="checkTitle.value === item.title" class="Book"></app-content-card>

<app-content-card *ngFor="let item of contentArray; last as isLast" [class.is-last]="isLast" [content]="item"
[class.highlight-me]="checkTitle.value === item.title" class="Book"></app-content-card>

