
tml, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';
@include mat-core();


$learning-angular-primary: mat-palette($mat-blue);
$learning-angular-accent: mat-palette($mat-purple);
$learning-angular-warn: mat-palette($mat-red);
$learning-angular: mat-light-theme(
  $learning-angular-primary,
  $learning-angular-accent,
  $learning-angular-warn
);



@include angular-material-theme($learning-angular)


