

.content-card{
   padding-bottom: 1px;

   
}

.image{
    height: 348px;
    width: 200px;
    border: 1px solid white;
    margin: 0 auto;
    
}

.content{
    column-count: 2;
    column-gap: 0px;
    background-color: #607d86;
    border: 1px solid lightblue;
    width: 420px;
    height: 350px; 
    color: white;
    font-size: 20px;
    text-align: left;
    overflow-wrap: break-word;

}

:host.is-last{
    border: 2px solid black;
}






