<div class = "content-card">


<div class="content">
 <img class="image" (click)= printid(content.id) [src]="content.imgUrl" *ngIf="content.imgUrl else imageDefault">
<ng-template #imageDefault>
    <img class="image"  src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" alt="default">
</ng-template>

 <div class="title" appHoverStyle >
 <b>Title</b><br>
 {{content.title}}<br>
 </div>

 <div class="author">
 <b>Author</b><br>
 {{content.author}}<br>
 </div>

 <div class="type">
 <b>Type</b><br>
 {{content.type}}<br>
 </div>

 <div class="body">
 <b>Body</b><br>
 {{content.body}}<br>
 </div>

 <div class="tags">
 <b>Tags</b><br>
 <span class ="tag" appHoverStyle  *ngFor="let tag of content.tags; last as isLast">
     {{ tag }}<span *ngIf="!isLast">,</span>
 </span>
 </div> 

 <a [routerLink]="['/content', content.id]"
routerLinkActive="active">Content Details</a>

</div>



</div>


