

.content-card{
   padding-bottom: 1px;

   
}

.image{
    height: 348px;
    width: 200px;
    border: 1px solid white;
    margin: 0 auto;
    
}

:host{
    column-count: 2;
    column-gap: 0px;
    background-color: #607d86;
    margin: 20px auto;
    display: block;
    width: 420px;
    height: 350px; 
    color: white;
    font-size: 20px;
    text-align: left;
    overflow-wrap: break-word;
    

}



:host.Article{
    border: 2px solid orange;
}

:host.Book{
    border: 2px solid purple;
}

:host.is-last{
    border: 2px solid black;
}

:host.highlight-me{
  border: 2px solid lime;

}




